<div class="form">
  <h2>Service Record</h2>
  <%= simple_form_for @service_record, url: service_service_records_path do |f| %>
  <%= f.input :treatment %>
  <div class="row">
    <div class="col">
      <%= f.input :start %>
    </div>
    <div class="col">
      <%= f.input :end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.input :esthetician %>
    </div>
    <div class="col">
      <%= f.input :date %>
    </div>
  </div>
  <%= f.input :observations %>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
</div>
