<div class="service-record">
  <div class="info">
    <h4><%= @client.first_name %>'s Record</h4>
    =============================
    <p><strong>Date:</strong> <%= @service_record.date %></p>
    <p><strong>Service:</strong> <%= @service.title %></p>
    <p><strong>Treatment:</strong> <%= @service_record.treatment %></p>
    <p><strong>Duration:</strong> <%= ((@service_record.end - @service_record.start) / 1.hour).round(2) %><strong>hr</strong> </p>
    <p><strong>Observations:</strong> <%= @service_record.observations %></p>
    <p><strong>Esthetician:</strong> <%= @service_record.esthetician %></p>
  </div>
  <div class="actionInfor">
    <% if can?(:update, @service_record) %>
    <%= link_to 'Edit', edit_service_service_record_path(@service, @service_record) %>
    <% end %>

    <% if can?(:destroy, @service_record) %>
    <%= link_to 'Delete',
      service_service_record_path(@service_record),
      method: :delete,
      data: {
        confirm: 'Are you sure?'
      }
    %>
    <% end %>
  </div>
  =============================<br>
  ||<%= link_to 'Back To Service', service_path(@service)%>||
  ||<%= link_to 'Add New Service Record', service_service_record_path(@service_record)%>||
</div>
