<div class="form">
    <h2>New Service</h2>
    <%= simple_form_for @service, url:client_services_path do |f| %>
    <div class="row">
      <div class="col">
        <%= f.input :title %>
      </div>
      <div class="col">
        <%= f.input :session %>
      </div>
    </div>
    <%= f.input :detail %>
    <%= f.input :note %>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
</div>
