<div class="card">
  <div class="card-header">
    <%= @service.title %>
  </div>
  <div class="card-body">
    <h3 class="card-title">
      <strong>Client:</strong>
      <%= @client.first_name%>
    </h3>
    <p class="card-text">
      <strong>Number of Sessions:</strong>
      <%= @service.session %>
    </p>
    <p class="card-text">
      <strong>Service Detail:</strong>
      <%= @service.detail %>
    </p>
    <p class="card-text">
      <strong>Note:</strong>
      <%= @service.note %>
    </p>
    <p class="card-text">
      <small>
        <strong>By:</strong>
        <%= @service.user&.first_name %>*
        <strong>Created at:</strong>
        <%= @service.created_at %>
      </small>
    </p>

    <div class="actionInfor">
      <%= link_to 'Back To Client', client_path(@client), class: "btn btn-primary" %>
      <% if can?(:update, @service) %>
      <%= link_to 'Edit', edit_service_path(@service), class: "btn btn-primary" %>
      <% end %>

      <% if can?(:destroy, @service) %>
      <%= link_to 'Delete', service_path(@service), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>
<br>
<div class="list-group">
  <button type="button" class="list-group-item list-group-item-primary active">
    Dates of Treatment
  </button>
  <% @service_records.each.with_index do |service_record, index| %>
    <li type="button" class="list-group-item list-group-item-action list-group-item-light">
      <strong>
        Treatment
        <%= index + 1 %>
        â¯
        <%= link_to service_record.date, service_service_record_path(@service, service_record) %>
      </strong>
    </li>
  <% end %>
</div>
<br>
<div class="action">
  <%= link_to 'Add Treatments', new_service_service_record_path(@service), class: "btn btn-primary"%>
</div>
