<!--
To render react components from the app/javascript/components directory with
react-rails, user the 'react_component' helper method. It takes the name of the
component's file as its first argument as a string (w/o the file extension.)
Also, the component's file must export the component with "export default". <thead>
second argument is hash or an object that can be converted to json with the
.to_json. React-rails with convert that hash to json and pass it as props to
the component you are rendering. -->

<!-- <%= react_component("UserTable", Client.all)%> -->
<%= react_component("UserTable", {
  users: @users,
  currentUser: current_user.as_json(except: [:password_digest])
})%>

<!--
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Created At</th>
      <th>Is Admin?</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= time_ago_in_words(user.created_at) %></td>
        <td><%= user.is_admin? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
-->
