<%= simple_form_for @client do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :phone_number %>
  <%= f.input :age, collection: 11..90 %>
  <%= f.input :address %>
  <%= f.input :postal_code %>
  <h4>I am Interested in:</h4>
  <div class="tag">
      <%= f.association :categories, input_html: { class: 'chosen-select' } %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
