<%= simple_form_for @client do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :phone_number %>
  <%= f.input :date_of_birth, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12, discard_day: true,
                              order: [:month, :year] %>
  <%= f.input :age, collection: 11..90 %>
  <%= f.input :gender, as: :radio_buttons, collection: [['Female', 'female'], ['Male', 'male']], label_method: :second, value_method: :first %>
  <%= f.input :address %>
  <%= f.input :postal_code %>
  <h4>I am Interested in:</h4>
  <div class="tag">
      <%= f.association :categories, input_html: { class: 'chosen-select' } %>
  </div>

  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
