<h2>Personal Information:</h2>
<h4><%= @client.first_name %></h4>
<p><strong>Email:</strong> <%= @client.email %></p>
<p><strong>Phone Number:</strong> <%= @client.phone_number %></p>
<p><strong>Date of Birth:</strong> <%= @client.date_of_birth %></p>
<p><strong>Age:</strong> <%= @client.age %></p>
<p><strong>Gender:</strong> <%= @client.gender %></p>
<p><strong>Address:</strong> <%= @client.address %></p>
<p><strong>Postal Code:</strong> <%= @client.postal_code %></p>
<br>==============================
<h4>Consultation Interested:</h4>
<div class="tag-list">
  <% @client.categories.order(:name).each do |category| %>
    <span class="badge badge-pill badge-primary">
      <%= category.name %>
    </span>
  <% end %>
</div>
<br>
<div>
  <% if can?(:update, @client) %>
    <%= link_to 'Edit', edit_client_path(@client) %>
  <% end %>

  <% if can?(:destroy, @client) %>
    <%= link_to 'Delete',
      client_path(@client),
      method: :delete,
      data: {
        confirm: 'Are you sure?'
      }
    %>
  <% end %>
  <% if can?(:new, @client) %>
    <%= link_to 'Add New Services', new_client_laser_service_path(@client) %>
  <% end %>
  <% if can?(:new, @health_history) %>
    <%= link_to 'Add Health History', new_client_health_history_path(@client) %>
  <% end %>
  <div>
    <small>
      Posted
      <%= time_ago_in_words(@client.created_at) %>
      ago
    </small>
    *
    <small>
    Last edited
    <%= time_ago_in_words(@client.updated_at) %>
    ago
    </small>
    *
    <small>
    By <%= @client.user&.first_name || '[DELETED]' %>
    </small>
  </div>
<br>==============================
<br>==============================
<div class="services-list">
  <h2>Laser Form Information</h2>
  <% @laser_services.each do |ls| %>
  <strong><%= ls.id %>.</strong>
  <%= ls.title %> <br>
  <% end %>
</div>
<br>==============================
<br>==============================
<div class="histories-list">
  <h2>Health History</h2>
  <% @health_histories.each do |hs| %>
  <strong><%= hs.id %>.</strong>
  <%= hs.medical_condition %> <br>
  <% end %>
</div>
