<div class="ShowPage">
  <div class="infor">
    <h2>Personal Information:</h2>
    <h4><%= @client.first_name %></h4>
    <p><strong>Email:</strong> <%= @client.email %></p>
    <p><strong>Phone Number:</strong> <%= @client.phone_number %></p>
    <p><strong>Date of Birth:</strong> <%= @client.date_of_birth %></p>
    <p><strong>Age:</strong> <%= @client.age %></p>
    <p><strong>Gender:</strong> <%= @client.gender %></p>
    <p><strong>Address:</strong> <%= @client.address %></p>
    <p><strong>Postal Code:</strong> <%= @client.postal_code %></p>
    <h4>Consultation Interested:</h4>
    <div class="tag-list">
      <% @client.categories.order(:name).each do |category| %>
      <span class="badge badge-pill badge-primary">
        <%= category.name %>
      </span>
      <% end %>
    </div>
    <div class="timeInfor">
      <small>
        <strong>Posted</strong>
        <%= time_ago_in_words(@client.created_at) %>
        ago
      </small>
      *
      <small>
        <strong>Last Edit</strong>
        <%= time_ago_in_words(@client.updated_at) %>
        ago
      </small>
      *
      <small>
        <strong>By</strong> <%= @client.user&.first_name || '[DELETED]' %>
      </small>
    </div>
    <div class="actionInfor">
      <% if can?(:update, @client) %>
      <%= link_to 'Edit', edit_client_path(@client) %>
      <% end %>

      <% if can?(:destroy, @client) %>
      <%= link_to 'Delete',
      client_path(@client),
      method: :delete,
      data: {
        confirm: 'Are you sure?'
      }
      %>
      <% end %>
    </div>
  </div>
  ==============================

  <div class="action">
    <strong>Adding:</strong>
    ||<% if can?(:new, @client) %>
    <%= link_to 'New Services', new_client_service_path(@client) %>
    <% end %>
    ||<% if can?(:new, @health_history) %>
    <%= link_to 'New Health History', new_client_health_history_path(@client) %>
    <% end %>
  </div>
  ==============================

  <div class="view">
    <strong>Viewing:</strong>
    ||<%= link_to 'Services', client_services_path(@client)%>||
    <% @health_histories.each do |health_history| %>
    <%= link_to "Health History", health_history_path(health_history) %>
    <% end %>||
  </div>
</div>
==============================






















<!--  -->
