<div class="ShowPage">
  <div class="infor card">
    <div class="card-header">Personal Information</div>
    <div class="card-body">
      <h3 class="card-title">
        <%= @client.first_name.capitalize %>
      </h3>
      <div class="row">
        <div class="col">
          <strong>Gender:</strong><%= @client.gender %></p>
        </div>
        <div class="col">
          <strong>Age:</strong><%= @client.age %></p>
        </div>
        <div class="col">
          <strong>Date of Birth:</strong><%= @client.date_of_birth %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <strong>Email:</strong><%= @client.email %>
        </div>
        <div class="col">
            <strong>Phone Number:</strong><%= @client.phone_number.round %>
        </div>
        <div class="col"></div>
      </div>
      <br/>
      <div class="row">
        <div class="col">
          <strong>Address:</strong><%= @client.address %></p>
        </div>
        <div class="col">
            <strong>Postal Code:</strong><%= @client.postal_code %></p>
        </div>
        <div class="col"></div>
      </div>

      <h5 class="card-title">Consultation Interested:</h5>
      <p class="card-text">
        <% @client.categories.order(:name).each do |category| %>
          <span class="badge badge-primary">
            <%= category.name %>
          </span>
        <% end %>
      </p>
      <p class="card-text">
        <small>
          <strong>Posted</strong>
          <%= time_ago_in_words(@client.created_at) %>
          ago
        </small>
        *
        <small>
          <strong>Last Edit</strong>
          <%= time_ago_in_words(@client.updated_at) %>
          ago
        </small>
        *
        <small>
          <strong>By</strong>
          <%= @client.user&.first_name || '[DELETED]' %>
        </small>
      </p>

      <div class="action health-history">
        <% @health_histories.each do |health_history| %>
          <%= link_to "Health History", health_history_path(health_history)%>
        <% end %>
          <%if can?(:new, @health_history) %>
          <%= link_to 'New Health History', new_client_health_history_path(@client)%>
          <% end %>
      </div>
      <br/>
      <div class="actionInfor">
        <% if can?(:update, @client) %>
          <%= link_to 'Edit', edit_client_path(@client), class: "btn btn-primary" %>
        <% end %>
        <% if can?(:destroy, @client) %>
          <%= link_to 'Delete', client_path(@client), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</br>

<div class="list-group">
  <button type="button" class="list-group-item list-group-item-dark">
    <strong>Service List</strong>
  </button>
  <% @services.each.with_index do |service, index| %>
    <li type="button" class="list-group-item list-group-item-light">
      <strong>
        <%= index + 1 %> ⎯
        <%= link_to service.title, service_path(service) %>
      </strong>
    </li>
  <% end %>
</div>
<br />
  <% if can?(:new, @client) %>
    <%= link_to 'New Services', new_client_service_path(@client), class: "btn btn-primary" %>
  <% end %>
<br />

<!-- -->
