<div class="histories-list">
  <h2>Health History</h2>
    <strong>Medical History:</strong>
    <% @health_history.medical_histories.order(:name).each do |mh| %>
      <span class="badge badge-pill badge-primary">
        <%= mh.name %>
      </span>
    <% end %>
    <p><strong>Botox Used:</strong> <%= @health_history.had_botox %></p>
    <p><strong>Tatoos or Permanent Makeup:</strong> <%= @health_history.had_tatoos %></p>
    <p><strong>Treated by an Endocrinologist:</strong> <%= @health_history.had_endocrinologiest %></p>
    <p><strong>Had Gold Therapy:</strong> <%= @health_history.had_gold_therapy %></p>
==========================================
    <p><strong>Sun Exposure/ Tanning Habits: </strong> </p>
    <p><strong>Use of Sunscreen:</strong> <%= @health_history.sunscreen %></p>
    <p><strong>SPF#:</strong> <%= @health_history.spf %></p>
    <p>
      <strong>Sunbatthe for tanning:</strong> <%= @health_history.sunbathe %>*
      <strong>With in 6 Weeks:</strong> <%= @health_history.sunbathe_sixweek %>
    </p>
    <p>
      <strong>Frequently tanning beds:</strong> <%= @health_history.tanning_bed %>*
      <strong>With in 6 Weeks:</strong> <%= @health_history.tanning_sixweek %>
    </p>
    <p><strong>Ethics:</strong> <%= @health_history.ethic %></p>

==========================================
    <p><strong>For Women Only -Check any that currently apply </strong> </p>
    <p><strong>Pregnancy:</strong> <%= @health_history.pregnant %></p>
    <p><strong>Expecting Pregnancy:</strong> <%= @health_history.becoming_pregnant %></p>
    <p><strong>Nursing Until:</strong> <%= @health_history.nursing_until %></p>
    <p><strong>Use of Birth Control:</strong> <%= @health_history.birth_control %></p>
    <p><strong>Menopausal:</strong> <%= @health_history.menopausal %></p>
    <p><strong>Using Method Replacement Therapy:</strong> <%= @health_history.hormone_replacement %></p>
    <p><strong>Related to Menstrual Cycle:</strong> <%= @health_history.acne_menstrual_cycle %></p>
</div>

<div class="actionInfor">
  ||<%= link_to 'Back To Service', client_path(@client)%>||
  <% if can?(:update, @health_history) %>
  <%= link_to 'Edit', edit_health_history_path(@health_history) %>
  <% end %>||
  <% if can?(:destroy, @client) %>
  <%= link_to 'Delete', health_history_path(@health_history), method: :delete,
  data: { confirm: 'Are you sure?'}%>
  <% end %>

</div>
