<h2>Client Service Record</h2>
<%= simple_form_for @client_service_record,
    url: client_client_service_records_path do |f| %>
  <%= f.input :name, label: 'Before Treatment'  %>
  <%= f.input :treatment %>
  <%= f.input :start %>
  <%= f.input :end %>
  <%= f.input :observations %>
  <%= f.input :esthetician %>
  <%= f.submit 'Submit', class: 'btn btn-primary' %>

<% end %>
