<!DOCTYPE html>
<html>
  <head>
    <title>ClientManagementApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="navbar-brand">
        <%= link_to image_tag( "logo.png", style: "height: 40px; "), root_path %>
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to 'New Client', new_client_path %>
          </li>
          ✦
          <li class="nav-item">
            <%= link_to 'Clients', clients_path %>
          </li>
          ✦
          <li>
            <% if user_signed_in? %>
              <span>
                Hello,<%= current_user.first_name %>!
              </span>
          </li>
          ✦
            <li class="nav-item">
              <% if current_user.is_admin? %>
                <%= link_to 'Dashboard', admin_dashboard_index_path %>
              <% end %>
            </li>
          ✦
            <li class="nav-item">
              <%= link_to 'Sign Out', session_path, method: :delete %>
            <% else %>
              <%= link_to 'Sign In', new_session_path %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <hr/>
    <div class="container-fluid">
      <% if flash[:notice].present? %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= flash[:notice] %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% elsif flash[:alert].present? %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= flash[:alert] %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>

        <%= yield %>
      </body>
    </html>
